{% extends '::base.html.twig' %}
{% block body %}
<div id="divRecentWorks">
		<h1 class="divRecentWorksTitle">{% block contenido_title %}{% endblock %}</h1>
		{% block contenido %}
		{% endblock %}

	<!-- init facebookcontainer -->
	<div class="facebookcontainer" style="position: absolute; top: 36px; right: 15px;">
		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
		<fb:like-box href="http://www.facebook.com/pages/Club-Cps-Epika/127697950616537?ref=ts" width="225" show_faces="true" stream="false" header="false" height="340" css="http://www.clubepika.com/css/fbfan.css"></fb:like-box>
	</div>
	<!-- end facebookcontainer -->
	
	<!-- init twitter thing! -->
	<div style="position: absolute; top: 390px; right: 14px; height:300px; width: 225px;">
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 6000,
		  width: 225,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#333333',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#000000',
		      color: '#ffffff',
		      links: '#4aed05'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    hashtags: true,
		    timestamp: true,
		    avatars: false,
		    behavior: 'all'
		  }
		}).render().setUser('@clubepika').start();
	</script>
	</div>
	<!-- end twitter thing! -->
</div>
{% endblock %}