{% extends '::base.html.twig' %}
{% block body %}
	<div id="divRecentWorks">
		<h1 class="divRecentWorksTitle">{% block contenido_title %}{% endblock %}</h1>
		{% block contenido %}
		{% endblock %}
	</div>
{% endblock %}