.fblbCenterOuter {
	position: fixed;
	display: block;
	top: 50%;
	height: auto;
	overflow: visible;
}
/*
.fblbCenterInner {
	margin-top: expression( -this.clientHeight / 2 +"px");
}
*/
/* fixed top */

.fblbCenterOuter.fblbFixed {
	position: fixed;
	display: block;
	top: 0;
	height: auto;
	overflow: visible;
}

.fblbFixed .fblbCenterInner {
	margin-top: 0;
}
