{% extends '::base.html.twig' %}

{% block body %}

<div id="divRecentWorks">

<img style="position: relative; left: 250px;" alt="" src="{{ asset('bundles/epikaclub/images/working.jpg') }}" />

</div>
{% endblock %}