{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block contenido %}
<table class="records_list" style="margin:0 auto; padding:0; border-spacing: 15px;">
    <tbody>
    {% for entity in entities %}
        <tr>
    	{% for company in entity %}
    		<td>
    			<a class="recentWorksItemsImageLink" href="{{ path('bono_company', {'id': company.id}) }}"><img src="http://www.clubepika.com/web{{ company.getWebPath }}" /></a>
    		</td>
    	{% endfor %}
    	</tr>
    {% endfor %}
    </tbody>
</table>

<!-- <ul>
    <li>
        <a href="{{ path('company_new') }}">
            Nueva Compañia
        </a>
    </li>
</ul>-->
{% endblock %}