{% extends 'EpikaClubBundle:Company:profile.html.twig' %}
{% block stylesheets %}

{{ parent() }}
<style>
#profileContent table { width: 200px; position: relative; top: 0px; left: -150px; }
</style>

{% endblock %}
{% block profileContent %}
<form action="{{ path('company_validate') }}" method="post">
<div id="profileContent">
	<table>
		<tr>
			<td>Cedula:</td>
			<td><input type="text" name="identification" placeholder="Número de Cedula" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="Activar Bono" /></td>
		</tr>
	</table>
</div>
{% if id %}
<input type="hidden" name="id" value="{{ id }}" />
{% endif %}
</form>
<script type="text/javascript">
$(function() {
	$( "#profileContent input:submit" ).button({
		icons: {primary:'',secondary:''},
	});
});
</script>
{% endblock %}